@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    207deg,
    #2266d4,
    #e839d7,
    #39c4e8,
    #e839c6,
    #39a0e8,
    #a4e839,
    #e8a839,
    #e83939
  );
  background-size: 1600% 1600%;
  animation: GradientBackground 11s ease infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #d9a3f8;
}
h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #d9a3f8;
}
form {
  font-size: 15px;
  font-weight: bold;
  color: purple;
  width: 300px;
  padding: 20px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 10px double plum;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
input {
  display: block;
  padding: 8px;
  margin: 10px 0;
  border: 2px solid purple;
  border-radius: 10px;
  color: purple;
  outline: 2px solid transparent;
}
input:focus {
  outline: 2px solid pink;
  border: 2px solid transparent;
}
button {
  margin: 5px auto;
  font-weight: bold;
  font-size: 15px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid purple;
  width: 150px;
  color: purple;
  background-color: rgba(221, 160, 221, 0.534);
}
